/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.js
!/runners/phantomjs.js
!/resources/public/js/bootstrap.min.js
.*
!.gitignore
*~
\#*\#
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
