body {
    background-color: #000000;
    font-family: Helvetica;
    color: #FFFFFF;
}
#game {
    border: solid 1px #FFFFFF;
}
#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}